.header {
  background-color: #727272;
  margin: 0px 0px 10px 0px;
  padding: 15px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.logo img {
  width: 34px;
  height: 34px;
}

.logo {
  align-items: center;
  max-height: 50px;
  display: flex;
}

.header a {
  text-decoration: none;
  color: inherit;
}
.header a:hover {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.login{

}